%html
  %head
    %script{:type => "text/javascript", :src => "javascripts/lib/regexp_extension.js"}
    %script{:type => "text/javascript", :src => "javascripts/lib/jquery-1.3.2.js"}
    %script{:type => "text/javascript", :src => "javascripts/lib/jtag.js"}
    %script{:type => "text/javascript", :src => "javascripts/lib/pickle.js"}
    %script{:type => "text/javascript", :src => "javascripts/lib/basic_steps.js"}
    
    %script{:type => "text/javascript", :src => "javascripts/features/basic_steps_feature.js"}

    
  %body
