%html
  %head
    %script{:type => "text/javascript", :src => "javascripts/lib/jquery-1.3.2.js"}
    %script{:type => "text/javascript", :src => "javascripts/lib/jtag.js"}
    %script{:type => "text/javascript", :src => "javascripts/lib/pickle.js"}
    %script{:type => "text/javascript", :src => "javascripts/features/my_test_feature.js"}

    - @scripts.each do |s|
      = s
    
  %body
